*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}
.container{
width: 100%;
height: 100vh;
background-image:url('/images/bg.jpeg');
background-position: center;
background-size: cover;
}
header{
    height: 12%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    
}
.logo-menu{
    display:flex;
    align-items: center;
}
.logo-menu h1{
    color: white;
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    text-shadow: 0 0 5px red;
}
.logo-menu img{
    width: 80px;
}
.nav{
    display: flex;
    align-items: center;
}
.nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    cursor: pointer;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 5px black;
}
.button{
    display: flex;
    align-items: center;
}
.button a{
    color: white;
    background-color: #ca8e46;
    padding: 4px 15px;
    text-decoration: none;
    font-weight: bold;
}
.main{
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: center;
}
.main-section{
    flex-basis: 50%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.first-handing{
    color: #ca8e46;
    padding-top: 20px;
    font-family: 'Mrs Saint Delafield', cursive;
    margin-bottom: -80px;
    font-size: 100px;
}
.second-handing{
    color: white;
    padding-top: -100px;
    font-size: 150px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.main .main-section p{
    color: white;
    font-size: 15px;
    padding-bottom: 30px;
}
.main .main-section a{
    color: white;
    text-decoration: none;
    border: 2px solid #ffffff3d;
    padding: 6px 20px;
    font-weight: bold;
}
.menu-icon{
    width: 50px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    padding-left: 20px;
    display: none;
}
hr{
    display: none;
}
@media (max-width:1032px) {
    header{
        margin-left: 5px;
        margin-right: 5px;
        transition: 0.3s;
    }
    .nav ul li{
        padding: 0 5px;
    }
}
@media (max-width:870px){
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .nav ul li{
        display: flex;
        padding: 15px 0px 0px 20px;
        transition: 0.5s;
    }
    header{
        background-color: rgb(0, 0, 0);
        border: 1px solid black;
        margin: 0;
        padding: 0;
    }
    .nav{
        background-color: aqua;
        position: absolute;
        top:10%;
        right: 0;
        width: 100%;
        display: none;
    }
    .nav ul{
        background-color: #000000;
        width: 100%;
    }
    hr{
        display: block;
        margin: 10px;
        opacity: 0.2;
    }
    .nav ul li:hover{
        transform: translateY(10px);
    }
    .button{
        display: none;
    }
    .logo-menu{
        z-index: 1;
    }
    .nav.open{
        display: block;
    }
}

/* Second Part*/

article{
    width: 100%;   
    background-color:#000000;
    box-sizing: border-box;
    padding: 30px 0;
}
.message{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.message h1{
    color: #ca8e46;
    padding-top: 80px;
    font-size: 100px;
    font-family: 'Mrs Saint Delafield', cursive;
}
.message h3{
    margin-top: -60px;
    font-size: 35px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: white;
}
.message p{
    font-size: 16px;
    font-weight: 400;
    color: #888888;
    padding-top: 30px;
}
.offer-section{
    display: flex;
    margin-top:80px;
    justify-content: center;
}
.offer{
    background-color: white;
    padding: 80px 220px;
    
}
.offer h4{
    color: white;
    background-color: black;
    display: inline-block;
    padding: 4px;
}
.data{
    position: relative;
    left: 80%;
    top:20%;
}
.offer h2{
    font-weight: bold;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 28px;
    color: white;
    padding: 15px 0;
}
.offer h2 span{
    color: #ca8e46;
}
.offer a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid #ffffff3d;
    padding: 4px 20px;
    font-weight: bold;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
.offer p{
    padding: 20px 0;
    color: white;
    font-style: italic;
}
.offer1-bg{
    margin:0 20px;
    background-image: url("/images/latte-coffee-cup.PNG");
    background-position: center;
    background-size: cover;
}
.offer2-bg{
    margin:0 20px;
    background-image: url('/images/offer2.jpg');
    background-position: center;
    background-size: cover;
}
@media (max-width:1290px) {
    .offer{
        background-color: white;
        padding: 50px 150px;  
    }
}
@media (max-width:990px) {
    .offer{
        background-color: white;
        padding: 50px 150px;
        transition: 0.3s;  
    }
    .offer h4,p,span {
        font-size: 13px;
    }
    .offer a{
        padding: 0;
        font-size: 13px;
    }
    .offer h2{
        padding: 5px 0;
        font-size: 13px;
    }
}
@media (max-width:900px) {
    .offer-section{
        display: grid;
    }
    .offer{
        background-color: white;
        padding: 100px 260px;
        margin: 30px 10px;  
    }
    .offer h4,p{
        font-size: 12px;
    }
    .offer a{
        padding: 0;
        font-size: 23px;
    }
    .offer h2,span{
        padding: 5px 0;
        font-size: 23px;
    }
    /* card section*/
    .card{
        flex-basis: 50%;
    }
    /*Special Part*/
    
}
@media (max-width:700px) {
    .offer{
        background-color: white;
        padding: 100px 160px;
        margin: 3px;  
    }
    /* card section*/
    .card{
        flex-basis: 100%;
    }
}
@media (max-width:525px) {
    .first-handing{
        margin-bottom: -39px;
        font-size: 60px;
    }
    .second-handing{
        font-size: 70px;
        transition: 0.8s;
    }
    .main .main-section p{
        font-size: 12px;
    }
    .message h1{
        color: #ca8e46;
        padding-top: 10px;
        font-size: 70px;
        transition: 0.5s;
    }
    .message h3{
        margin-top: -30px;
        font-size: 25px;
    }
    .message p{
        font-size: 10px;
        font-weight: 400;
        padding-top: 20px;
    }
    .offer{
        background-color: white;
        padding: 50px 100px; 
    }
    .offer h4,p{
        font-size: 10px;
    }
    .offer a{
        padding: 0;
        font-size: 15px;
    }
    .offer h2,span{
        padding: 5px 0;
        font-size: 14px;
    }
}
@media (max-width:430px) {
    .message h1{
        color: #ca8e46;
        padding-top: 10px;
        font-size: 50px;
        transition: 0.5s;
    }
    .message h3{
        margin-top: -30px;
        font-size: 20px;
    }
    .message p{
        font-size: 8px;
        font-weight: 400;
        padding-top: 15px;
    }
}
/*Card Section*/
.cardsection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:0;
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    padding: 100px 0;
}
.card{
    box-sizing: border-box;
    background-color: #ca8f46;
    text-align: center;
    width: 25%;
    height: 300px;
    position: relative;
}
.card img{
    opacity: 0.3;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card h1{
    color: white;
    position: absolute;
    top: 35%;
    left: 35%;
}
.card1:hover{
    opacity: 1;
    transition: 1s;
    background-size: contain;
}

/*Special Part*/
.todayspecial{
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}
.todayoffer{
    margin: 0 50px;
}
.todayoffer h1{
    color: #ca8e46;
    font-size: 100px;
    font-family: 'Mrs Saint Delafield', cursive;
}
.todayoffer h2{
    margin-top: -60px;
    font-size: 35px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: white;
    letter-spacing: 5px;
}
.todayoffer h3{
    color: white;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
.todayoffer p{
    font-size: 16px;
    font-weight: 400;
    color: #888888;
    padding-top: 30px;
}
.todayimg{
    position: relative;
}
.todayimg img{
    width: 100%;
}
.todaysold{
    background-color: white;
    border-radius: 100%;
    width: 90px;
    padding: 20px 0;
    background-color: #ca8e46;
    position: absolute;
    top:0;
    left: 10%;
}
.todaysold h1{
    color: white;
}
.todaysold h3{
    color: white;
    font-size: 12px;
}
@media (max-width:900px) {
    .todayspecial{
        display: block;
        padding: 25px;
    }
    .todayimg img{
        margin: 50px 0;
        width: 80%;
    }
    .todaysold{
        top:10%;
        left: 20%;
    }
}
@media (max-width:600px) {
    .todayoffer h1{
        font-size: 70px;
    }
    .todayoffer h2{
        font-size: 25px;
        margin-top: -40px;
        letter-spacing: 0;
    }
    .todayoffer h3{
        font-size: 16px;
    }
}
@media (max-width:600px) {
    .todayoffer h1{
        font-size: 50px;
    }
    .todayoffer h2{
        font-size: 20px;
        margin-top: -25px;
        letter-spacing: 0;
    }
    .todayoffer h3{
        font-size: 12px;
    }
    .todayoffer p{
        font-size: 10px;
    }
}
.favorite-drink-background{
    background-image: url("/images/favorite-drink-img.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    background-attachment: fixed;
    position: relative;
}
.favorite-drink-img{
    color: white;
    position: absolute;
    top: 30%;
    left: 40%;
}
.favorite-drink-img h1{
    color: #ca8e46;
    font-size: 100px;
    font-family: 'Mrs Saint Delafield', cursive;
}
.favorite-drink-img h2{
    margin-top: -60px;
    margin-left: 30px;
    font-size: 35px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: white;
    letter-spacing: 5px;
}
@media (max-width:500px) {
    .favorite-drink-img h1{
        font-size: 70px;
    }
    .favorite-drink-img h2{
        margin-top: -50px;
        margin-left: 10px;
        font-size: 25px;
    }
    .favorite-drink-img{
        color: white;
        position: absolute;
        top: 20%;
        left: 30%;
    }
}
.favorite-drink-menu-background{
    background-color: #000000;
    width: 100%;
}
.favorite-drink-menu-img{
    display: flex;
    padding: 10%;
    box-sizing: border-box;
}
.favorite-drink-menu-col1{
    background-color: rgb(0, 0, 0);
    flex-basis: 50%;
    color: white;
    margin-right: 20px;
}
.favorite-drink-menu-row1{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.favorite-drink-menu-row11{
    padding: 20px 0;
}
#item{
    display: flex;
    flex-direction: column;
    position: relative;
}
#item h4{
    padding: 10px 0;
}
.favorite-drink-menu-col2{
    background-color: rgb(0, 0, 0);
    flex-basis: 50%;
    color: white;
    margin-left: 20px;
}

#item h1{
    font-size: 20px;
    position: absolute;
    top: -20px;
}
@media (max-width:680px) {
    .favorite-drink-menu-img{
        flex-direction: column;
        background-color: #000000;
    }
    .favorite-drink-menu-col1{
        flex-basis: 100%;
    }
    .favorite-drink-menu-col2{
        flex-basis: 100%;
        margin: 0;
    }
}

































